body{
font-family: Arial;
background:#07080a;
color:white;
margin:0;
}

.container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.form{
background:#07080a;
padding:40px;
border-radius:10px;
width:300px;
}

input{
width:100%;
padding:10px;
margin-top:10px;
margin-bottom:20px;
border:none;
border-radius:75px;
}

button{
width:105%;
padding:12px;
background:#9a0000;
border:none;
border-radius:80px;
color:white;
font-size:16px;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 80px;
}

.logo{
font-size:24px;
font-weight:600;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}

.nav-links a{
text-decoration:none;
color:#cbd5ff;
}

.nav-right{
display:flex;
gap:20px;
}

.cadastrar{
background:#9a0000;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
color:white;
}
.entrar{  
padding:10px 20px;
border-radius:8px;
text-decoration:none;
color:white;
}
/* HERO */

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:48px;
max-width:700px;
}