body, html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #080808;
}

.cadastro {
  display: inline-block;
  margin-top: 20px;
  padding: 15px;
  background-color:#700000;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  text-align: center;
  
}

.botao {
  display: inline-block;
  margin-top: 20px;
  padding: 15px;
  background-color:#700000;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}


.botao {
  width: 270px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.form{
  color: #fff;
  background-color:#9a0000;
  width: 400px;
}

input{
  border-radius: 0;
}
h1{
  margin-top: 10px;
  margin-bottom: 60px;
}