.form {
	background: #07080a;
	padding: 40px;
	border-radius: 10px;
	width: 300px;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: calc(100vh - 90px);

	padding-inline: 20px;

	background:
		radial-gradient(ellipse at top, rgba(154, 0, 0, 0.18), transparent 60%),
		radial-gradient(
			ellipse at bottom,
			rgba(112, 0, 0, 0.12),
			transparent 60%
		),
		#080808;
}

input {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 75px;
}

button {
	width: 105%;
	padding: 12px;
	background: #9a0000;
	border: none;
	border-radius: 80px;
	color: white;
	font-size: 16px;
}
