body, html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #080808;
}

/* Container Principal */
  .hero-ye {
  background-image: url("./fundo-ye.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #080808;
  color: #fff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0px 10%;
  box-sizing: border-box;
}

.hero-ye__content {
  display: grid;
  grid-template-columns: 1.2fr 1.5fr 1fr; /* 3 colunas: Texto | Cartão | Cards */
  gap: 40px;
  align-items: center;
  width: 100%;
}

/* Coluna 1: Texto e Botões */
.hero-ye__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-ye__description {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 30px;
}

.hero-ye__actions {
  display: flex;
  gap: 15px;
}

.cadastre_aqui {
  background-color: #9A0000;
  color: #000;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.saiba_mais {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
}

/* Coluna 2: Imagem Central */
.hero-ye__card-image img {
  width: 100%;
  height: auto;
}

/* Coluna 3: Cards da Direita */
.hero-ye__footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-self: flex-end;
  margin-right: -400px;
}

.card-link__wrapper {
  background-color: #5c5c5c;  
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
  color: #9A0000;
}

.card-link__wrapper:hover {
  background-color: #9A0000;
  color:#fff;

}

.card-link__text {
  display: flex ;
  font-size: 0.9rem;
  margin-bottom: 15px;
}



.btn--inline {
  background: none;
  border: none;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 0.85rem;
}